<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Login examples</title>

    <!-- CSS -->
    <link href="../../webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../static/css/app.css" rel="stylesheet"/>

    <!-- JavaScript -->
</head>
<body>

<div layout:fragment="content" class="container">

</div><!-- /.container -->

</body>
</html>